body{
    background-image: url("./photos/light.jpg");
    font-family: "Segoe UI", "Avenir", Helvetica, Arial, sans-serif, 微軟正黑體;
    background-attachment: fixed;
    background-position: center;
}

.toolbar:hover {
    transform : scale(1.5);
	background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
    border-radius : 50%;
}

.background_color{
    position: fixed;
    left: 140px;
}

input[type="button"]{
    border-radius: 50%;
    border: 1px solid #6590bb;
    width: 20px;
    height: 20px;
    outline:none;
}

input[type="button"]:hover{
    transform: scale(1.5);
}


input[type="range"]{
    -webkit-appearance: none;
    overflow:hidden;
    width:200px;
    height:30px;
    outline : none;
    background:none;
    position: fixed;
    right:30px;
    top:200px;
  }

  input[type="color"]{
	display: block;
	width: 100px;
	height: 80px;
    border: none;
    position: fixed;
    top: 100px;
    right: 80PX;
    cursor: pointer;
  }

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 30px;
    background:#A3D1D1;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative;
    width:10px;
    height:10px;
    margin-top: -3.5px;
    background: #003060;
    border-radius:50%;
    transition:.2s;
}

input[type="range"]::-webkit-slider-thumb:before,
input[type="range"]::-webkit-slider-thumb:after
{
  position: absolute;
  top: 6px;
  width: 200px;
  height: 4px;
  content:"";
  pointer-events: none;
  transition:.3s;
}

input[type="range"]:active::-webkit-slider-thumb:before,
input[type="range"]:active::-webkit-slider-thumb:after
{
  top: 6px;
}
input[type="range"]:active::-webkit-slider-thumb{
  width:16px;
  height:16px;
}
input[type="range"]:active::-webkit-slider-thumb:after {
  left: 16px;
}

#canvas{
    background-color: white;
    border: 2px solid black;
    position: absolute;
    top: 85px;
    margin-left: 160px;
    margin-right: 150px;
    float: center;
}

.toolbar{
    position: fixed;
    cursor: pointer;    
    width: 30px;
    height: 30px;
}
.brush{
    float: left;
    margin-top: 10px;
}
.tool{
    float: right; 
    margin-top: 10px;
}
.textsetting{
    float: right;
    position: fixed;
    top: 230px;
    right: 30px;
    
}
.setting{
    position: fixed;
    top:100px;
    right: 30px;
}
.pen{
    cursor: url(./icons/pen.png),auto;
}
.rainbow{
    cursor: url(./icons/rainbow.png),auto;
}
.eraser{
    cursor: url(./icons/eraser.png) 2 2 ,auto;
}
.shape{
    cursor: crosshair;
}
.text{
    cursor: text;
}

#pen{
    position: fixed;
    top: 110px;
    left: 30px;
}
#eraser{
    position: fixed;
    top: 150px;
    left: 30px;
}
#line{
    position: fixed;
    top: 200px;
    left: 30px;
}
#circle{
    position: fixed;
    top: 250px;
    left: 30px;
}
#rect{
    position: fixed;
    top: 300px;
    left: 30px;
}
#tri{
    position: fixed;
    top: 350px;
    left: 30px;
}
#text{
    position: fixed;
    top: 400px;
    left: 30px;
}
#rainbow{
    position: fixed;
    top: 450px;
    left: 30px;
}
#rainbow:hover{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

#clear{
    position: fixed;
    top: 300px;
    right: 30px;
}
#undo{
    position: fixed;
    top: 350px;
    right: 30px;
}
#redo{
    position: fixed;
    top: 400px;
    right: 30px;
}
#save{
    position: fixed;
    top: 450px;
    right: 30px;
}
#upload{
    position: fixed;
    top: 500px;
    right: 30px;
}


